<h4>Application Form</h4>
<form action="/job/{{job['id']}}/apply" method="post">
  <div class="mb-2">
  <label>First Name</label></br>
  <input type="text" name="first_name" placeholder="First Name"></br>
  </div>
  <div class="mb-2">
  <label>Last Name</label></br>
  <input type="text" name="last_name" placeholder="Last Name"></br>
  </div>
 <div class="mb-2">
   <label>Email</label></br>
  <input type="text" name="email" placeholder="Your email address"></br>
 </div>
  <div class="mb-2">
  <label>LinkedIn URL</br>
  <input type="text" name="linkedin_url" placeholder="Your LinkedIn account 
    link"></br>
  </div>
  <div class="mb-2">
   <label>Educational</label></br>
  <textarea name="education" placeholder="Give insights about your educational"></textarea></br>
 </div>
  <div class="mb-2">
   <label>Work Experience</label></br>
  <textarea name="work_experience" placeholder="Tell us about your work experience"></textarea></br>
 </div>
  <div class="mb-2">
   <label>Resume Link</label></br>
  <input type="text" name="resume_url" placeholder="Your resume link goes here"></br>
 </div>
  <input type="submit">
</form>