<!DOCTYPE html>
<html lang="en">
<head>
   <title>Document</title>
   {% include 'bootstrap.html' %}
   {% include 'style.html' %}
</head>
 
<body>
  {% include 'nav.html' %}
  {% include 'banner.html' %}

  <h1 class="welcome_line" style="color:teal">Welcome to Cashynote!</h1>

  <p> Your Application for the role of <b>{{job['title']}}</b> at Cashynote has been submitted! </p>
  
  <b>First Name</b>
  <div class="mb-2">{{application['first_name']}}</div>
  
  <b>Last Name</b>
  <div class="mb-2">{{application['last_name']}}</div>
  
  <b>Email</b>
  <div class="mb-2">{{application['email']}}</div>

  <b>Education</b>
  <div class="mb-2">{{application['education']}}</div>
  
  <b>LinkedIn URL</b>
  <div class="mb-2">{{application['linkedin_url']}}</div>
  
  <b>Work Experience</b>
  <div class="mb-2">{{application['work_experience']}}</div>
  
  <b>Resume Link</b>
  <div>{{application['resume_url']}}</div>

  {% include 'footer.html' %}
  
</body>
</html>