<!DOCTYPE html>
<html lang="en">
<head>
   <title>Document</title>
</head>
<body>
  <h4>First Name</h4>
  <div>{{application['first_name']}}</div>
  
  <h4>Last Name</h4>
  <div>{{application['last_name']}}</div>
  
  <h4>Email</h4>
  <div>{{application['email']}}</div>

  <h4>Education</h4>
  <div>{{application['education']}}</div>
  
  <h4>LinkedIn URL</h4>
  <div>{{application['linkedin_url']}}</div>
  
  <h4>Work Experience</h4>
  <div>{{application['work_experience']}}</div>
  
  <h4>Resume Link</h4>
  <div>{{application['resume_url']}}</div>
  
</body>
</html>