<div class="border-bottom row" style="margin-bottom:16px; padding-bottom:8px">
    <div class="col-10">
        <h4 style="font-family: papyrus">{{job['title']}}</h4>
        <div>
            <b>Location : </b>{{job['location']}}
        </div>
        <div>
            <b>Salary : </b>{{job['salary']}}
        </div>
    </div>
    <div class="col-2" style="padding-top: 15px;">
    <a href="mailto:kgupta.pvt@gmail.com?subject=Application%20For%20{{job['title']}}&body=My%20Name%20%3A%20%3Cyour%20name%20goes%20here%3E%0D%0A%0D%0AMy%20LinkedIn%20Link%20%3A%20%3Cyour%20LinkedIn%20link%20goes%20here%3E%0D%0A%0D%0AMy%20Resume%20%3A%20%3Cyour%20resume%20link%20goes%20here%3E" class="btn btn-outline-info">Apply</a>
    </div>
</div>